/* プロジェクト名：書籍管理システムWeb版Ver1.0
 * プログラム名：style.css
 * プログラムの説明：システム共通のデザイン定義シート。
 * 作成日：2026年5月19日
 * 作成者：髙垣湧侑翔
 */
 @charset "UTF-8";

/* テーブルヘッダー等の青背景 */
.bg-blue {
    background-color: #5679E7;
    color: #000000;
}

/* 変更前情報等の水色背景 */
.bg-cyan {
    background-color: #66E4DD;
    color: #000000;
}

/* 検索テキストボックスのグレー枠線 */
.border-gray {
    border: 1px solid #8E8E8E;
}

/* 各画面の白い共通ボタン */
.btn-white {
    background-color: #FFFFFF;
    border: 1px solid #767676;
    border-radius: 5px;
    padding: 3px 12px;
    cursor: pointer;
}

/* 上部リンク（メニュー、書籍一覧など）の横並びレイアウト用 */
.nav-box {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 0px;
}

.nav-links {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}

.nav-links a {
    margin-right: 20px;
}
